<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
</head>

<body>
    <h1>Weather Checker</h1>
    
    <form action="/" method="POST">
        <label for="city_name">Enter a City Name: </label>
        <input type="text" name="city_name" id="city_name">
        <input type="submit" value="SUBMIT">

    </form>

    
    <div>
        {% if weather_data %}

            <div>
                {{weather_data['days']}}
            </div>

        {% endif %}
    </div>


</body>

</html>